{% load static %}
<div class="block-80 d-none" style="height: 80px;"></div>
<header class="header header-light header-layout2">
  <nav class="navbar navbar-expand-lg sticky-navbar fixed-navbar">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <img src="{% static 'assets/images/logo/logo-JMS.png' %}" width="97px" height="49px" alt="logo">
        {% comment %} <img src="{% static 'assets/images/logo/logo-teks-JMS.png' %}" class="ml-1" height="20px" alt="logo"> {% endcomment %}
      </a>
      <button class="navbar-toggler" type="button">
        <span class="menu-lines"><span></span></span>
      </button>
      <div class="collapse navbar-collapse" id="mainNavigation">
        <ul class="navbar-nav ml-auto">
          <li class="nav__item with-dropdown">
            <a href="#" class="nav__item-link active">Home</a>
          </li>
          <li class="nav__item with-dropdown">
            <a href="#tentang_kami" class="nav__item-link">Tentang Kami</a>
          </li>
          <li class="nav__item with-dropdown">
            <a href="#services" class="nav__item-link">Our Services</a>
          </li>
          <li class="nav__item with-dropdown">
            <a href="#" class="nav__item-link">Blog</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__item-link">Contacts</a>
          </li>
          {% comment %} <li class="nav__item with-dropdown">
            <a href="about-us.html" class="dropdown-toggle nav__item-link">Company</a>
            <i class="fa fa-angle-down" data-toggle="dropdown"></i>
            <ul class="dropdown-menu">
              <li class="nav__item"><a href="about-us.html" class="nav__item-link">About Us</a></li>
              <!-- /.nav-item -->
              <li class="nav__item"><a href="core-values.html" class="nav__item-link">core values</a></li>
              <!-- /.nav-item -->
              <li class="nav__item"><a href="leadership-team.html" class="nav__item-link">Leadership Team</a></li>
              <!-- /.nav-item -->
              <li class="nav__item"><a href="pricing.html" class="nav__item-link">Pricing & Plans</a></li>
              <!-- /.nav-item -->
              <li class="nav__item"><a href="faqs.html" class="nav__item-link">Help & FAQs</a></li>
              <!-- /.nav-item -->
              <li class="nav__item"><a href="careers.html" class="nav__item-link">careers</a></li>
              <!-- /.nav-item -->
            </ul><!-- /.dropdown-menu -->
          </li><!-- /.nav-item --> {% endcomment %}
          {% comment %} <li class="nav__item with-dropdown">
            <a href="services.html" class="dropdown-toggle nav__item-link">Services</a>
            <i class="fa fa-angle-down" data-toggle="dropdown"></i>
            <ul class="dropdown-menu">
              <li class="nav__item"><a href="services-single-service.html" class="nav__item-link">Construction
                  Manage</a></li>
              <!-- /.nav-item -->
              <li class="nav__item"><a href="services-single-service.html" class="nav__item-link">Construction
                  Consultants</a></li>
              <!-- /.nav-item -->
              <li class="nav__item"><a href="services-single-service.html" class="nav__item-link">Architecture &
                  Building</a></li>
              <!-- /.nav-item -->
              <li class="nav__item"><a href="services-single-service.html" class="nav__item-link">Home
                  Renovations</a></li>
              <!-- /.nav-item -->
              <li class="nav__item"><a href="services-single-service.html" class="nav__item-link">Tiling &
                  Painiting</a></li>
              <!-- /.nav-item -->
              <li class="nav__item"><a href="services-single-service.html" class="nav__item-link">Interior
                  Design</a></li>
              <!-- /.nav-item -->
            </ul><!-- /.dropdown-menu -->
          </li><!-- /.nav-item --> {% endcomment %}
          {% comment %} <li class="nav__item with-dropdown">
            <a href="projects-grid.html" class="dropdown-toggle nav__item-link">Projects</a>
            <i class="fa fa-angle-down" data-toggle="dropdown"></i>
            <ul class="dropdown-menu">
              <li class="nav__item"><a href="projects-grid.html" class="nav__item-link">projects grid</a></li>
              <!-- /.nav-item -->
              <li class="nav__item"><a href="projects-standard.html" class="nav__item-link">projects standard</a>
              </li><!-- /.nav-item -->
              <li class="nav__item"><a href="projects-carousel.html" class="nav__item-link">projects carousel</a>
              </li><!-- /.nav-item -->
              <li class="nav__item"><a href="projects-single-project.html" class="nav__item-link">projects
                  single</a></li><!-- /.nav-item -->
            </ul><!-- /.dropdown-menu -->
          </li><!-- /.nav-item --> {% endcomment %}
          {% comment %} <li class="nav__item with-dropdown">
            <a href="blog.html" class="dropdown-toggle nav__item-link">News & Media</a>
            <i class="fa fa-angle-down" data-toggle="dropdown"></i>
            <ul class="dropdown-menu">
              <li class="nav__item">
                <a href="blog.html" class="nav__item-link">Blog Grid</a>
              </li><!-- /.nav-item -->
              <li class="nav__item">
                <a href="blog-single-post.html" class="nav__item-link">Single Blog Post</a>
              </li><!-- /.nav-item -->
            </ul><!-- /.dropdown-menu -->
          </li><!-- /.nav-item --> {% endcomment %}
        </ul><!-- /.navbar-nav -->
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav><!-- /.navabr -->
</header><!-- /.Header -->